<section>
  <div class="container">
    <div class="row g-5 p-5">
      <div class="col-12 col-sm-6 col-lg-4">
        <div>
          <h1 class="text-uppercase mt-0">location</h1>
          <p class="my-0">2215 John Daniel Drive</p>
          <p class="my-0">Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div>
          <h1 class="text-uppercase mt-0">around the web</h1>
          <div class="d-flex justify-content-center gap-1">
            <div class="icons d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="icons d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="icons d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="icons d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-4">
        <div>
          <h1 class="text-uppercase">about freelance</h1>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright py-3">
    <p class="text-capitalize m-0">copyright &copy; your website 2021</p>
  </div>
</section>
